/**
 * 
 * Projeto site portófilo udacity
 *
 */

/* ==========================================================================
   Global selectors
   ========================================================================== */

   *, 
   ::after, 
   ::before {
    box-sizing: border-box;
   }

   * {
    margin: 0;
    padding: 0;
   }

  :root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 62.5%;
  }

  body {
    font-size: 1.4rem;
  }

  img,
  svg {
    width: 100%;
    max-width: 100%;
  }

  a {
    transition-duration: .3s; 
  }

  a:hover {
    transition-duration: .15s; 
  }

  .container {
    padding-right: 1.5rem;    
    padding-left: 1.5rem;    
    margin-bottom: 3.0rem;
    width: 100%;
  }

/* ==========================================================================
   Header
   ========================================================================== */
  .header {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 3.0rem;
    padding-bottom: 3.0rem;
    margin-bottom: 1.8rem;
    border-bottom: solid .3rem #7d97ad;
  }
  
  .header-logo {
    width: 20%;
  }

  .header-info {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 500;
  }

  .header-info-name {
    font-weight: 300;
    font-size: 3.8rem;
  }

/* ==========================================================================
   Banner
   ========================================================================== */
  .banner {
    margin-bottom: 3.2rem;
    opacity: 1;
  }
  
  .banner a:hover {
    opacity: .5;
  }

/* ==========================================================================
   Works featured
   ========================================================================== */
  .works-title {
    margin-bottom: 1.0rem;
    font-weight: 500;
    color: #7d97ad;
  }

  .works-list {
    list-style: none;
  }

  .works-list .works-box:first-child {
    padding-top: 0;
  }

  .works-box {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  .works-box-content {
    padding-top: 1.0rem;
  }

  .works-box-title {
    margin-bottom: 1.0rem;
    font-size: 3.2rem;
    font-weight: 300;
  }

  .works-box-link {
    display: block;
    font-size: 1.8rem;
    text-decoration: none;
    color: #2d3c49;
    opacity: 1;
  }

  .works-box-link:hover,
  .works-box-link:active { 
    opacity: .7;
    color: #02b3e4;
  }

/* ==========================================================================
  Media querys
  ========================================================================== */


  @media screen and (min-width: 576px) {
    .container {
      max-width: 520px;
      margin-right: auto;
      margin-left: auto;
    }
   
  }
  @media (min-width: 768px) {  
    .container {
      max-width: 720px;
    }

    .header {
      flex-flow: row;
    }

    .header-logo {
      width: 60px;
    }

    .header-info {
      flex: auto;
      margin-top: 0;
      text-align: right;
      font-size: 1.6rem;
    }

    .works-list {
      display: flex;
      justify-content: space-between;
    }

    .works-box {
      padding-top: 0;
      width: 30%;
    }

    .works-box-title {
      font-size: 2.8rem;
    }

  }


  @media (min-width: 992px) { 
    .container {
      max-width: 960px;
    }

  }


  @media (min-width: 1200px) { 
    .container {
      max-width: 1140px;
    }
   }